<html>
<head>
<title>Features</title>
<link rel="stylesheet" href="style5.css">
<body>
    <div class="container">
        <div class="navBar">
            <div class="logo">
                <img src="/assets/logo.png" alt="Logo">
            </div>
            <div class="navLinks">
                <ul>
                    <li><a href="/indexmain.html">Home</a></li>
                    <li><a href="/components/index2.html">Phone</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Cart</a></li>
                </ul>
            </div>
        </div> 
        <!-- phone 3 Information --> 
     <div class="information">
         <div class="overlay"></div>
         <img src="/assets/phone3.png" class="mobile">
         <div id="circle">
             <div class="feature one">
                 <img src="/assets/camera.png">
                 <div>
                     <h1>Camera</h1>
                     <p>64+32+8 MP</p>
                 </div>
             </div>
             <div class="feature two">
                <img src="/assets/processor.png">
                <div>
                    <h1>Processor</h1>
                    <p>A11 chip set</p>
                </div>
             </div>
             <div class="feature three">
                <img src="/assets/display.png">
                <div>
                    <h1>Display</h1>
                    <p>6.5 inch  </p>
                </div>
             </div>
             <div class="feature four">
                <img src="/assets/battery.png">
                <div>
                    <h1>Battery</h1>
                    <p>3000 mah</p>
                </div>
             </div>
         </div>
     </div> 
     <div class="controls">
         <img src="/assets/arrow.png" id="upbtn">
         <h3>Features</h3>
         <img src="/assets/arrow.png" id="downbtn">
     </div>         
    </div>

    <script src="/components/script5.js"></script>
</body>
</head>
</html>