<html>
    <head>
        <title>Phones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <body>
               <div class="container">
                <div class="navBar">
                    <div class="logo">
                        <img src="/assets/logo.png" alt="Logo">
                    </div>
                    <div class="navLinks">
                        <ul>
                            <li><a href="/indexmain.html">Home</a></li>
                            <li><a href="/components/index2.html">Phone</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Cart</a></li>
                        </ul>
                    </div>
                </div>

                <!--front page end-->
                <!--second page -->
          <div class="title">
              <h1>Phones</h1>
              <p> Showing Three Products </p>
          </div>
          
          <!--card 1-->
         <section>
          <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="/assets/phone1.png">
                </div>
                <div class="card-back">
                    <div class="back-header">
                        <img src="/assets/phone1.png">
                    </div>
                <div class="back-footer">
                    <h2>Oneplus 6T</h2>
                    <p>Mirror Blue, 8GB+128GB </p>
                    <p><i class="fa fa-inr"></i> 19,999</p>
                    <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                    <a href="/components/index3.html">Details</a>
                    </div>
                </div>
                </div>  
            </div>
           </div>
         
        <!--card 2-->
       <section>
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="/assets/phone2.png">
                </div>
                <div class="card-back">
                    <div class="back-header">
                        <img src="/assets/phone2.png">
                    </div>
                <div class="back-footer">
                <h2>Intex note 2</h2>
                <p>Serpha Blue, 4GB+64GB </p>
                <p><i class="fa fa-inr"></i> 11,499</p>
                <div>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                    <a href="/components/index4.html">Details</a>
                </div>
                </div>
            </div>  
         </div>
        </div>
         <!--card 3-->
         <section>
            <div class="card">
                <div class="card-container">
                    <div class="card-front">
                        <img src="/assets/phone3.png">
                    </div>
                    <div class="card-back">
                        <div class="back-header">
                            <img src="/assets/phone3.png">
                        </div>
                    <div class="back-footer">
                    <h2>Iphone 9 mini</h2>
                    <p>Mirror Black, 6GB+128GB </p>
                    <p><i class="fa fa-inr"></i> 64,999</p>
                    <div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                        <a href="/components/index5.html">Details</a>
                    </div>
                    </div>
                </div>  
                </div>
                </div>        
            </div>        
     </section>
     <div class="explore">
        <a href="/components/index6.html">explore more</a>
     </div>
       </body>
    </head>
</html>